<!-- templates/register.html -->
{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %} 

{% block content %}
<h1>Register</h1>
{% with messages = get_flashed_messages() %}
     {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
    </ul>
    {% endif %} 
{% endwith %}
<form method="post" action="{{ url_for('register') }}">
  <label>Email:</label>
  <input type="email" name="email" required /><br />
  <label>Username:</label>
  <input type="text" name="username" required /><br />
  <label>Password:</label>
  <input type="password" name="password" required /><br />
  <label>Date of Birth:</label>
  <input type="date" name="dob" required /><br />
  <label>Phone Number:</label>
  <input type="text" name="phone_number" /><br />
  <input type="submit" value="Register" />
</form>
{% endblock %}
